<h1>Update Order</h1>
<br>

<div class="row">
		<div class="span6">
		Updating order of <%= @so_header.customer_maintenance.customer_name %> from <%= @so_header.customer_maintenance.outlet_address %><br />
		<%= render 'orders' %>
	</div>
	<div class="span3 offset1">
		<%= render 'form' %>
	</div>
</div>