<p>
  <b>Account of:</b>
  <%= @admin.name %>
</p>

<p>
  <b>Username:</b>
  <%= @admin.username %>
</p>

<p>We currently have <%= link_to pluralize(SoHeader.find_all_by_order_status("Open").count, "pending order"), so_headers_path %> from the franchisees.
  Please process their orders as soon as possible. </p>