<div class="row">
	<div class="span3">
		<br />
<b>Customer name:</b> <%= current_user.customer_name %><br />
<b>Outlet code: </b> <%= current_user.outlet_code %><br />
</div>
<div class="span4 offset1">
<div align="center">
<%= image_tag("logo-lotsapizza.jpg", size: "200x200") %>
</div>
</div>
</div>
<%= render 'so_headers/orders' %>
<br />
